@import './variables.scss';
@import './mixin.scss';

/* #region universal common css */
.ellipsis {
  /* max-width: 300px; */
  line-height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* useful css class */
.tc {
  text-align: center;
}

.bb {
  border-bottom: 1px solid #ececec;
}
.bt {
  border-top: 1px solid #ececec;
}

.mt {
  margin-top: 5vw;
}

.mt10 {
  margin-top: 2vw;
}
.mt5 {
  margin-top: 1.3vw;
}
.ml {
  margin-left: 20px;
}

.ml10 {
  margin-left: 2.6vw;
}
.ml5 {
  margin-left: 1.3vw;
}

.mr {
  margin-right: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mb {
  margin-bottom: 20px;
}

.re {
  position: relative;
}

.ab {
  position: absolute;
}

.mt1 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mb {
  margin-bottom: 20px;
}

.pd {
  padding: 20px;
}

.ov {
  overflow: hidden;
}

.hide {
  display: none;
}

.auto0 {
  margin: 0 auto;
}

.w100 {
  width: 100%;
}

.b-b {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bold {
  font-weight: bold;
}

.v-h-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.i-b {
  display: inline-block;
}

.block {
  display: block;
}

.font12 {
  font-size: 12px;
}

.font10 {
  font-size: 10px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.flex{
  display: flex;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  zoom: 1;
}

/* 内容竖直居中(比如文字等) */
.cont-v-c {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.u-box-s {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

/* // 灰色半透明遮罩 */
.gray-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  z-index: 199;
  top: 0;
  left: 0;
}

.w1200 {
  width: 1200px;
}

.com-w100 {
  width: 100%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.c-p {
  cursor: pointer;
}

// #region app utils
$cl-blue: #447ABF;

.font10 {
  font-size: 2.5vw;
}

.font12 {
  font-size: 3vw;
}

.font14 {
  font-size: 3.5vw;
}

.font16 {
  font-size: 4vw;
}

.font18 {
  font-size: 4.5vw;
}

.font20 {
  font-size: 5vw;
}

.bor99 {
  border-radius: 99px;
}
.borr{
  border-radius: 1.3vw;
}
.cl-blue {
  color: $cl-blue;
}
.cl-gray{
  color: #888888;
}

.bac-whi {
  background-color: #fff;
}

.m-card {
  background-color: #fff;
  width: 94vw;
  margin: 0 auto;
  border-radius: 2.3vw;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.m-postcard {
  padding: 3.6vw 4.1vw;
  padding-bottom: 0;
  background-color: #fff;

  .van-icon {
    vertical-align: bottom;
    font-size: 4vw;
  }

  ._tit {
    ._img {
      vertical-align: middle;
    }
  }

  ._cont {
    margin-top: 3.7vw;

    ._1 {
      margin-top: 3.7vw;

    }

    ._2 {
      margin-top: 3.2vw;

      ._img {
        border: 1px solid #fff;
      }
    }
  }

  ._btns {
    ._row {
      height: 12vw;
      align-items: center;
      .van-col {
      }
    }

    border-top: 1px solid #f1f1f1;

  }
}

.u-btn {
  border: 1px solid #F90253;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.3vw 3.7vw;
  border-radius: 9999px;
  text-align: center;
}
.btn-blue{
  background-color: $cl-blue;
}
// #endregion app utils

/* #endregion */